<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vuejs</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->

</head>

<body>
    <div id="app" class="mt-2 container-fluid">
        <br><br><br>


        <input-form></input-form>
        <my-list></my-list>



    </div>
    </div> <!-- fim div app -->

    <template id="form">
        <div class="card">
            <div class="container">
                <div class="card-block">
                    <div class="form-group">
                        <label for="input">Titulo</label>
                        <br>
                        <input id="input"
                        v-model="title" type="text" class="form-control">
                        <br>
                    </div>
                    <button @click.stop.prevent="submit()" class="btn btn-primary">Enviar</button>
                    <br><br>
                </div>
            </div>
        </div>
    </template>

    <template id="list">
        <ul  class="list-group mt-3">
            <li v-for="item in list" class="list-group-item">{{item.title}}</li>
        </ul>
    </template>


    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

    <script>

        Vue.component('input-form', {
            template: "#form",
            data(){
                return{
                    title:'',
                }
            },
            methods: {
                submit(){
                    eventBus.$emit('submit', this.title);
                }
            }

        });

        Vue.component('my-list', {
            template: "#list",
            created() {
                var vm = this;
                eventBus.$on('submit', function(title){
                     if (title) {
                        vm.list.push({ title:  title});
                    } 
                    
                });
            },

            data() {
                return{
                    list:[
                        {title:"Ir a feira"},
                    ]
                }
            }

        });

        var eventBus = new Vue();//variável "onibus"

        var app = new Vue({



            el: "#app",


            data: {// elementos 
                titulo: "Curso Vuejs",

            },

            computed: {//rotinas (roda sempre que há alterações) e retorna valores

            },

            watch: {//assiste quando uma variável for alterada

            },

            methods: {//rotinas e funções para serem acessadas por fora

            }

        });

    </script>
</body>

</html>